body{
    background-image: url("https://www.hyundai.com/content/hyundai/ww/data/news/data/2021/0000016609/image/newsroom-0112-photo-1-2021elantranline-1120x745.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}
canvas{
    border-width: 10px ;
    border-style: ridge;
    background-color: white;
    margin-top: 30px;
}